body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: gainsboro;
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 20px;
    font-family: 'Open Sans';
}

.container {
    background-color: gainsboro;
    color: black;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    font-family: 'Open Sans';
}

h2 {
    text-align: center;
    color: black;
    font-family: 'Open Sans';
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    padding-left: 10px;
}

input[type="email"], 
button {
    width: calc(100% - 20px); /* Ocupa todo el ancho del formulario */
    display: block;
    margin: 5px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input[type="email"] {
    background-color: #f8f9fa;
    color: black;
}

button {
    background-color: #FFA500;
	color: white;
	border-color: #FFA500;
	padding: 5px 10px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 15px;
	font-family: 'Open Sans';
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #ffcc00;
    text-align: center;
}