<div class="container">
    <h2>Bienvenido a Muleta Y Montera</h2>
    <p>“Bienvenidos a Muleta y Montera, un espacio dedicado a la pasión, la
        tradición y el arte de la tauromaquia.<br> Aquí encontrarás todo
        lo relacionado con el mundo del toro: <br> desde la historia y
        los eventos más importantes, hasta la actualidad del mundo del toro,
        los detalles de las principales figuras y las emociones que se viven
        en cada plaza.<br> Sumérgete en el alma de la fiesta brava y
        descubre por qué la tauromaquia es mucho más que una tradición, es
        una forma de vida.”</p>
  </div>
  